@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  background-color: #03002b;
  color: #fdfdff;
  font-family: "Roboto mono";
}
.dummy{
  display: flex;
}
nav {
  background-color: #110c50;
}

.card {
  background-color: #1b165c;
}

.card-header {
  background-color: #110c50;
}

.form-control {
  background-color: #110c50;
  color: lightgray;
}



input[type=email]::placeholder {
  color: white;
}



@media (max-width: 650px) {
  body {
    margin-top: 0;
  }
}